.Drawer {
  display: flex;
  flex-direction: column;
  /* outline: auto; */
  height: 18rem;
  width: 16rem;
  padding: 1rem;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}
.subtext {
  font-size: 1rem;
  opacity: 50%;
}
